body {
    background-color: white;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.big-container {
    max-width: 1000px; 
    width: 100%;
    box-sizing: border-box;
}

header {
    border: 3px solid black;
}

.main-container {
    border: 3px solid green;
    display: flex;
    height: 544px;
}

.main-container > div {
    flex: 1;
}

.left-container {
    background-color: lightblue;
    background-image: url(https://raw.githubusercontent.com/JoelKeskitalo/Layoutprojekt/main/Bilder/family.png);
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 300px 270px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.left-content {
    width: 314px;
}

.right-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.top-right {
    background-color: rgb(250, 106, 17);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-right {
    background-color: orange;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 45px;
    letter-spacing: -2;
}

h2 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 32px;
    color: white;
    line-height: 41.31px;
    letter-spacing: -2%;
    align-items: center;
}

h3 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 32px;
    color: white;
    line-height: 41.31px;
    letter-spacing: -2%;
    align-items: center;
}

h4 {
    font-family: 'Frank Ruhl Libre', serif;
    color: white;
    font-weight: 900;
    font-size: 45px;
    letter-spacing: -2;
    margin-left: 180px;
    margin-top: 100px;
}

h5 {
    font-family: 'Frank Ruhl Libre', serif;
    color: white;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: -2%;
}

.left-text {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.right-text {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 13.2px;
    letter-spacing: -2%;
    align-items: center;
}

.bottom-right-text {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 13.2px;
    letter-spacing: -2%;
    align-items: center;
}



#join-now {
    margin-top: 30px;
}

main {
    border: 3px solid bisque;
    height: 1000px;
}

.top-container {
    background-color: #A9A19E;
    height: 612px;
    display: flex;
    justify-content: space-evenly;
}

.top-container-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Flytta innehållet åt höger i denna container */
}

.top-container-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.top-container-right {
    display: flex;
    justify-content: center;
    width: 50%;
}

.top-container-paragraph {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    width: 50%;
    font-size: 14px;
    line-height: 24px;
    margin-top: 100px;
}

.menu-container {
    border: 3px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}


ul {
    border: 3px solid green;
    list-style: none;
    gap: 120px;
    display: flex;

    
}

.bottom-container {
    height: 680px;
    background-color: #FAB131;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-us-text {
    width: 442px;
    height: 280px;
}


button {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    width: 131px;
    height: 39px;
    border-radius:100px;
}


#join-now {
    margin-left: 180px;
}


