body {
    background-color: white;
    display: flex;
    justify-content: center;
}

.big-container {
    max-width: 1000px; 
    width: 100%;
    box-sizing: border-box;
    flex-direction: column; 
    min-height: 100vh;
    position: relative;
}

main {
    flex-grow: 1;
}

.main-container {
    display: flex;
    height: 544px;
}

.main-container > div {
    flex: 1;
}

.left-container {
    background-color: lightblue;
    background-image: url(https://raw.githubusercontent.com/JoelKeskitalo/Layoutprojekt/main/Bilder/family.png);
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 300px 270px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.left-content {
    width: 314px;
}

.right-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.top-right {
    background-color: rgb(250, 106, 17);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-right {
    background-color: orange;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 45px;
    letter-spacing: -2;
}

h2 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 32px;
    color: white;
    line-height: 41.31px;
    letter-spacing: -2%;
    align-items: center;
}

h3 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 32px;
    color: white;
    line-height: 41.31px;
    letter-spacing: -2%;
    align-items: center;
}

h4 {
    font-family: 'Frank Ruhl Libre', serif;
    color: white;
    font-weight: 900;
    font-size: 45px;
    letter-spacing: -2;
    margin-left: 180px;
    margin-top: 100px;
}

h5 {
    font-family: 'Frank Ruhl Libre', serif;
    color: white;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: -2%;
}

.left-text {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.right-text {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 13.2px;
    letter-spacing: -2%;
    align-items: center;
}

.bottom-right-text {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 13.2px;
    letter-spacing: -2%;
    align-items: center;
}



#join-now {
    margin-top: 30px;
}

#join-now2 {
    margin-left: 170px;
}


.top-container {
    background-color: #A9A19E;
    height: 612px;
    display: flex;
    justify-content: space-evenly;
}


.top-container-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.top-container-right {
    display: flex;
    justify-content: center;
    width: 50%;
}

.top-container-paragraph {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    width: 50%;
    font-size: 14px;
    line-height: 24px;
    margin-top: 100px;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


ul {
    list-style: none;
    gap: 120px;
    display: flex;

    
}

.bottom-container {
    height: 680px;
    padding: 50px 0 0 0;
    background-color: #FAB131;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-us-text {
    width: 442px;
    height: 280px;
}

.grid-container {
    height: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
}

.grid-item {
    padding: 10px; /* Inre utfyllnad för rutorna */
    text-align: center; /* Textcentrering */
}

#item1 {
    background-color: #C7DDEA;
}

#item2 {
    background-color: white;
}

#item3 {
    background-color: #EBEBEB;
}

#item4 {
    background-color: white;
}

#item5 {
    background-color: #F17949;
}

#item6 {
    background-color: white;
}


footer {
    background-color:#777574;
    height: 408px;
    display: flex;
    justify-content: center;
}

#takemeup {
    width: 1000px;
    height: 68px;
    background-color: #A9A19E;
    border-radius: 0px;
}

button {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    width: 131px;
    height: 39px;
    border-radius:100px;
}


.overlap-containers {
    display: flex;
    justify-content: center;
    margin-top: -154px;
    margin-bottom: -154px;
}

.faces {
    background-color: white;
    height: 308px;
    width: 256px;
}

.face-image {
    width: 236px;
    height: 150px;
    margin: -15px auto 0;
}

.face-1 .face-image {
    background-image: url(https://raw.githubusercontent.com/JoelKeskitalo/Layoutprojekt/mainbox/Bilder/child.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100px auto;
    background-color: lightblue;
}
